**/node_modules
node_modules
apps/miniprogram/dist
apps/miniprogram/.temp
apps/mobile/build
apps/mobile/.dart_tool
services/api/dist
services/api/data
dist
build
.venv-ai
.venv
__pycache__
*.pyc
.git
.gitignore
.env
.env.production
**/*.log
.DS_Store
Thumbs.db
